<div id="<%= dom_id course %>">
  
    <strong>Nome: </strong> <%= course.nome %> |
  
    <strong>Sigla: </strong> <%= course.sigla %> |
  
    <strong>Site: </strong> <%= course.site %> |

    <strong>Coordenador: </strong> <%= course.coordinator.nome %>
    <br>
   

</div>
